
<!DOCTYPE html>
<html>
<head>
  <title>BHCC</title>
  <link href="/assets/application-013007ca7b02085a8451ee877c6547da.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/application-271da270a805c238dec2f988156f6ff8.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="4nFtoK2v+A/3qpHZLXxmjKNIG4at1hHAfjWchTP5iSc=" name="csrf-token" />
</head>
<body>



<div id ="strava"style = "padding-top:20px;">

<DIV style = " width:1000px; margin: 0 auto;">






			<table class ="table table-hover table-condensed;" >
				<thead>  
			          <tr> 
			          	<th>     </th>  
			            <th>Rider</th>  
			            <th>Miles</th>
			            <th>Back</th> 
			            <th>     </th>  
			            <th>Rider</th>  
			            <th>Hours</th>
			            <th>Back</th>
			            <th>     </th>   
			            <th>Rider</th>  
			            <th>Elevation</th>
			            <th>Back</th> 
			                
			          </tr>  
				</thead> 

				<tbody>

					<tr>
						<td> 1</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="michael zimmer">michael zimmer</div></td>
						<td>1006.7</td>
						<td>+ 0.0</td>
						<td> 1</td>
						<td>michael zimmer</td>
						<td>61.3</td>
						<td>+ 0.0 </td>
						<td> 1</td>
						<td>michael zimmer</td>
						<td>55009.8</td>
						<td>+ 0.0</td> 

					</tr>
					<tr>
						<td> 2</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Bart Lipinski">Bart Lipinski</div></td>
						<td>960.3</td>
						<td>+ 46.4</td>
						<td> 2</td>
						<td>Pedro W</td>
						<td>59.7</td>
						<td>+ 1.6 </td>
						<td> 2</td>
						<td>Pete M.</td>
						<td>46692.9</td>
						<td>+ 8316.9</td> 

					</tr>
					<tr>
						<td> 3</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Adam Shutes">Adam Shutes</div></td>
						<td>944.7</td>
						<td>+ 62.0</td>
						<td> 3</td>
						<td>Adam Shutes</td>
						<td>57.2</td>
						<td>+ 4.1 </td>
						<td> 3</td>
						<td>Pedro W</td>
						<td>46089.2</td>
						<td>+ 8920.6</td> 

					</tr>
					<tr>
						<td> 4</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Bill Connolly">Bill Connolly</div></td>
						<td>884.3</td>
						<td>+ 122.4</td>
						<td> 4</td>
						<td>Bill Connolly</td>
						<td>49.6</td>
						<td>+ 11.7 </td>
						<td> 4</td>
						<td>Bart Lipinski</td>
						<td>36804.5</td>
						<td>+ 18205.3</td> 

					</tr>
					<tr>
						<td> 5</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Pedro W">Pedro W</div></td>
						<td>825.2</td>
						<td>+ 181.5</td>
						<td> 5</td>
						<td>Rick Doherty</td>
						<td>47.8</td>
						<td>+ 13.5 </td>
						<td> 5</td>
						<td>Bill Connolly</td>
						<td>33011.8</td>
						<td>+ 21998.0</td> 

					</tr>
					<tr>
						<td> 6</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Ted Myles">Ted Myles</div></td>
						<td>730.4</td>
						<td>+ 276.3</td>
						<td> 6</td>
						<td>Bart Lipinski</td>
						<td>47.1</td>
						<td>+ 14.2 </td>
						<td> 6</td>
						<td>Adam Shutes</td>
						<td>30452.8</td>
						<td>+ 24557.0</td> 

					</tr>
					<tr>
						<td> 7</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Pete M.">Pete M.</div></td>
						<td>716.3</td>
						<td>+ 290.4</td>
						<td> 7</td>
						<td>Pete M.</td>
						<td>41.9</td>
						<td>+ 19.4 </td>
						<td> 7</td>
						<td>CanMass .</td>
						<td>27897.0</td>
						<td>+ 27112.8</td> 

					</tr>
					<tr>
						<td> 8</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Diesel C.">Diesel C.</div></td>
						<td>711.1</td>
						<td>+ 295.6</td>
						<td> 8</td>
						<td>Ted Myles</td>
						<td>39.9</td>
						<td>+ 21.4 </td>
						<td> 8</td>
						<td>Jonathan Doller</td>
						<td>26640.4</td>
						<td>+ 28369.4</td> 

					</tr>
					<tr>
						<td> 9</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Rick Doherty">Rick Doherty</div></td>
						<td>708.4</td>
						<td>+ 298.3</td>
						<td> 9</td>
						<td>Diesel C.</td>
						<td>37.8</td>
						<td>+ 23.5 </td>
						<td> 9</td>
						<td>Nick S.</td>
						<td>26604.3</td>
						<td>+ 28405.5</td> 

					</tr>
					<tr>
						<td> 10</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="CanMass .">CanMass .</div></td>
						<td>680.2</td>
						<td>+ 326.5</td>
						<td> 10</td>
						<td>CanMass .</td>
						<td>36.4</td>
						<td>+ 24.9 </td>
						<td> 10</td>
						<td>Ted Myles</td>
						<td>26174.5</td>
						<td>+ 28835.3</td> 

					</tr>
					<tr>
						<td> 11</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Nick Leger">Nick Leger</div></td>
						<td>641.2</td>
						<td>+ 365.5</td>
						<td> 11</td>
						<td>Nick Leger</td>
						<td>35.6</td>
						<td>+ 25.7 </td>
						<td> 11</td>
						<td>Rick Doherty</td>
						<td>25721.8</td>
						<td>+ 29288.0</td> 

					</tr>
					<tr>
						<td> 12</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Jonathan Doller">Jonathan Doller</div></td>
						<td>596.9</td>
						<td>+ 409.8</td>
						<td> 12</td>
						<td>Dave Levy</td>
						<td>34.3</td>
						<td>+ 27.0 </td>
						<td> 12</td>
						<td>Diesel C.</td>
						<td>25160.8</td>
						<td>+ 29849.0</td> 

					</tr>
					<tr>
						<td> 13</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Dave Levy">Dave Levy</div></td>
						<td>541.9</td>
						<td>+ 464.8</td>
						<td> 13</td>
						<td>Jonathan Doller</td>
						<td>32.8</td>
						<td>+ 28.5 </td>
						<td> 13</td>
						<td>Dave Levy</td>
						<td>24491.5</td>
						<td>+ 30518.3</td> 

					</tr>
					<tr>
						<td> 14</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Ari Shocket">Ari Shocket</div></td>
						<td>541.8</td>
						<td>+ 464.9</td>
						<td> 14</td>
						<td>Andy Rothstein</td>
						<td>31.3</td>
						<td>+ 30.0 </td>
						<td> 14</td>
						<td>Andy Rothstein</td>
						<td>24176.5</td>
						<td>+ 30833.3</td> 

					</tr>
					<tr>
						<td> 15</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Sean  Campbell">Sean  Campbell</div></td>
						<td>511.4</td>
						<td>+ 495.3</td>
						<td> 15</td>
						<td>Sean  Campbell</td>
						<td>30.2</td>
						<td>+ 31.1 </td>
						<td> 15</td>
						<td>Ari Shocket</td>
						<td>23011.8</td>
						<td>+ 31998.0</td> 

					</tr>
					<tr>
						<td> 16</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Andy Rothstein">Andy Rothstein</div></td>
						<td>491.3</td>
						<td>+ 515.4</td>
						<td> 16</td>
						<td>Mark Virello</td>
						<td>29.3</td>
						<td>+ 32.0 </td>
						<td> 16</td>
						<td>Sean  Campbell</td>
						<td>20659.4</td>
						<td>+ 34350.4</td> 

					</tr>
					<tr>
						<td> 17</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Nick S.">Nick S.</div></td>
						<td>477.0</td>
						<td>+ 529.7</td>
						<td> 17</td>
						<td>Ari Shocket</td>
						<td>28.9</td>
						<td>+ 32.4 </td>
						<td> 17</td>
						<td>Adam Carr</td>
						<td>20252.6</td>
						<td>+ 34757.2</td> 

					</tr>
					<tr>
						<td> 18</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Mark Virello">Mark Virello</div></td>
						<td>435.8</td>
						<td>+ 570.9</td>
						<td> 18</td>
						<td>Nick S.</td>
						<td>26.0</td>
						<td>+ 35.3 </td>
						<td> 18</td>
						<td>Owen McGonagle</td>
						<td>19744.1</td>
						<td>+ 35265.7</td> 

					</tr>
					<tr>
						<td> 19</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Adam Carr">Adam Carr</div></td>
						<td>390.7</td>
						<td>+ 616.0</td>
						<td> 19</td>
						<td>Adam Carr</td>
						<td>23.9</td>
						<td>+ 37.4 </td>
						<td> 19</td>
						<td>Nick Leger</td>
						<td>19147.0</td>
						<td>+ 35862.8</td> 

					</tr>
					<tr>
						<td> 20</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Chad Guevremont">Chad Guevremont</div></td>
						<td>338.9</td>
						<td>+ 667.8</td>
						<td> 20</td>
						<td>Owen McGonagle</td>
						<td>20.2</td>
						<td>+ 41.1 </td>
						<td> 20</td>
						<td>Mark Virello</td>
						<td>16925.9</td>
						<td>+ 38083.9</td> 

					</tr>
					<tr>
						<td> 21</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Steven Fish">Steven Fish</div></td>
						<td>338.5</td>
						<td>+ 668.2</td>
						<td> 21</td>
						<td>Steven Fish</td>
						<td>19.9</td>
						<td>+ 41.4 </td>
						<td> 21</td>
						<td>Roach Joe</td>
						<td>16919.3</td>
						<td>+ 38090.5</td> 

					</tr>
					<tr>
						<td> 22</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Sean Saganey">Sean Saganey</div></td>
						<td>320.8</td>
						<td>+ 685.9</td>
						<td> 22</td>
						<td>Chad Guevremont</td>
						<td>19.8</td>
						<td>+ 41.5 </td>
						<td> 22</td>
						<td>Jeff Buyak</td>
						<td>13189.0</td>
						<td>+ 41820.8</td> 

					</tr>
					<tr>
						<td> 23</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Owen McGonagle">Owen McGonagle</div></td>
						<td>319.6</td>
						<td>+ 687.1</td>
						<td> 23</td>
						<td>Roach Joe</td>
						<td>18.4</td>
						<td>+ 42.9 </td>
						<td> 23</td>
						<td>Chad Guevremont</td>
						<td>12598.4</td>
						<td>+ 42411.4</td> 

					</tr>
					<tr>
						<td> 24</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Roach Joe">Roach Joe</div></td>
						<td>310.0</td>
						<td>+ 696.7</td>
						<td> 24</td>
						<td>Sean Saganey</td>
						<td>17.4</td>
						<td>+ 43.9 </td>
						<td> 24</td>
						<td>John Bosley</td>
						<td>11879.9</td>
						<td>+ 43129.9</td> 

					</tr>
					<tr>
						<td> 25</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="bruce larson">bruce larson</div></td>
						<td>263.7</td>
						<td>+ 743.0</td>
						<td> 25</td>
						<td>bruce larson</td>
						<td>15.9</td>
						<td>+ 45.4 </td>
						<td> 25</td>
						<td>bruce larson</td>
						<td>11322.2</td>
						<td>+ 43687.6</td> 

					</tr>
					<tr>
						<td> 26</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="John Bosley">John Bosley</div></td>
						<td>229.1</td>
						<td>+ 777.6</td>
						<td> 26</td>
						<td>John Bosley</td>
						<td>15.3</td>
						<td>+ 46.0 </td>
						<td> 26</td>
						<td>Steven Fish</td>
						<td>10971.1</td>
						<td>+ 44038.7</td> 

					</tr>
					<tr>
						<td> 27</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Michael O.">Michael O.</div></td>
						<td>212.0</td>
						<td>+ 794.7</td>
						<td> 27</td>
						<td>Jeff Buyak</td>
						<td>13.0</td>
						<td>+ 48.3 </td>
						<td> 27</td>
						<td>Michael O.</td>
						<td>9416.0</td>
						<td>+ 45593.8</td> 

					</tr>
					<tr>
						<td> 28</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Jeff Buyak">Jeff Buyak</div></td>
						<td>202.0</td>
						<td>+ 804.7</td>
						<td> 28</td>
						<td>collin cameron</td>
						<td>11.7</td>
						<td>+ 49.6 </td>
						<td> 28</td>
						<td>Sean Saganey</td>
						<td>8517.1</td>
						<td>+ 46492.7</td> 

					</tr>
					<tr>
						<td> 29</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="David Hall">David Hall</div></td>
						<td>191.7</td>
						<td>+ 815.0</td>
						<td> 29</td>
						<td>Scott Kirschner</td>
						<td>11.6</td>
						<td>+ 49.7 </td>
						<td> 29</td>
						<td>David Hall</td>
						<td>8084.0</td>
						<td>+ 46925.8</td> 

					</tr>
					<tr>
						<td> 30</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="collin cameron">collin cameron</div></td>
						<td>190.3</td>
						<td>+ 816.4</td>
						<td> 30</td>
						<td>Michael O.</td>
						<td>11.6</td>
						<td>+ 49.7 </td>
						<td> 30</td>
						<td>Scott Kirschner</td>
						<td>5643.0</td>
						<td>+ 49366.8</td> 

					</tr>
					<tr>
						<td> 31</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Bobby Allen">Bobby Allen</div></td>
						<td>168.4</td>
						<td>+ 838.3</td>
						<td> 31</td>
						<td>David Hall</td>
						<td>11.3</td>
						<td>+ 50.0 </td>
						<td> 31</td>
						<td>collin cameron</td>
						<td>5616.8</td>
						<td>+ 49393.0</td> 

					</tr>
					<tr>
						<td> 32</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Scott Kirschner">Scott Kirschner</div></td>
						<td>166.0</td>
						<td>+ 840.7</td>
						<td> 32</td>
						<td>Bobby Allen</td>
						<td>10.2</td>
						<td>+ 51.1 </td>
						<td> 32</td>
						<td>Bobby Allen</td>
						<td>4603.0</td>
						<td>+ 50406.8</td> 

					</tr>
					<tr>
						<td> 33</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Dylan Sanders">Dylan Sanders</div></td>
						<td>132.1</td>
						<td>+ 874.6</td>
						<td> 33</td>
						<td>Dylan Sanders</td>
						<td>7.9</td>
						<td>+ 53.4 </td>
						<td> 33</td>
						<td>Dylan Sanders</td>
						<td>3904.2</td>
						<td>+ 51105.6</td> 

					</tr>
					<tr>
						<td> 34</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Dave M.">Dave M.</div></td>
						<td>92.7</td>
						<td>+ 914.0</td>
						<td> 34</td>
						<td>Dave M.</td>
						<td>6.2</td>
						<td>+ 55.1 </td>
						<td> 34</td>
						<td>Dave M.</td>
						<td>3477.7</td>
						<td>+ 51532.1</td> 

					</tr>
					<tr>
						<td> 35</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Lilly Vollmann">Lilly Vollmann</div></td>
						<td>56.0</td>
						<td>+ 950.7</td>
						<td> 35</td>
						<td>Lilly Vollmann</td>
						<td>3.4</td>
						<td>+ 57.9 </td>
						<td> 35</td>
						<td>Brent Rossum</td>
						<td>1817.6</td>
						<td>+ 53192.2</td> 

					</tr>
					<tr>
						<td> 36</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Brent Rossum">Brent Rossum</div></td>
						<td>53.2</td>
						<td>+ 953.5</td>
						<td> 36</td>
						<td>Brent Rossum</td>
						<td>2.8</td>
						<td>+ 58.5 </td>
						<td> 36</td>
						<td>Lilly Vollmann</td>
						<td>1486.2</td>
						<td>+ 53523.6</td> 

					</tr>
					<tr>
						<td> 37</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Greg Naviloff">Greg Naviloff</div></td>
						<td>15.6</td>
						<td>+ 991.1</td>
						<td> 37</td>
						<td>Greg Naviloff</td>
						<td>1.0</td>
						<td>+ 60.3 </td>
						<td> 37</td>
						<td>Greg Naviloff</td>
						<td>784.1</td>
						<td>+ 54225.7</td> 

					</tr>
					<tr>
						<td> 38</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Eric Stout">Eric Stout</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 38</td>
						<td>Angus Walker</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 38</td>
						<td>Eric Stout</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 39</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Can Meral">Can Meral</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 39</td>
						<td>Can Meral</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 39</td>
						<td>Can Meral</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 40</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Neil  Goldberg">Neil  Goldberg</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 40</td>
						<td>johnny smooth</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 40</td>
						<td>Neil  Goldberg</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 41</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Angus Walker">Angus Walker</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 41</td>
						<td>Neil  Goldberg</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 41</td>
						<td>Angus Walker</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 42</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Algis N.">Algis N.</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 42</td>
						<td>Algis N.</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 42</td>
						<td>Algis N.</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 43</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="johnny smooth">johnny smooth</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 43</td>
						<td>francis deasy</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 43</td>
						<td>johnny smooth</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 44</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Jim Norcott">Jim Norcott</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 44</td>
						<td>Jim Norcott</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 44</td>
						<td>Jim Norcott</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 45</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="Kioko Mwosa">Kioko Mwosa</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 45</td>
						<td>Kioko Mwosa</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 45</td>
						<td>Kioko Mwosa</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>
					<tr>
						<td> 46</td>
						<div ><td  ><div class="playerTypeAhead" rel="popover" data-original-title="francis deasy">francis deasy</div></td>
						<td>0.0</td>
						<td>+ 1006.7</td>
						<td> 46</td>
						<td>Eric Stout</td>
						<td>0.0</td>
						<td>+ 61.3 </td>
						<td> 46</td>
						<td>francis deasy</td>
						<td>0.0</td>
						<td>+ 55009.8</td> 

					</tr>


			    </tbody>  
			 </table> 


</DIV>


</div>

      <!-- your popup hidden content -->
      <div id="popover_content_wrapper" style="display: none">

      	This is my content
 </div>
      </div>
        
      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

 

<script type="text/javascript">
/*

//$('.playerTypeAhead').popover({placement: "left",  content: "Start Typing to select a player ", trigger:"hover"});
$('.playerTypeAhead').popover({placement: "left", html: true,  trigger:"hover", 
	content: function(){


 $.ajax({
  
      url: 'getLastRide',
      type: 'get'//,
     // context: this,
     // dataType: 'JSON'
      //,data: dtorails
     // ,
     // success: function(responseData) {
      
      //}
    });

 

 // }



//width="1025" height="225"
		return $('#popover_content_wrapper').html();


}})
*/


</script> 

</body>
</html>
