<!DOCTYPE html>
<html>
<head>
  <title>BHCC</title>
  <link href="/assets/application-013007ca7b02085a8451ee877c6547da.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/application-148252fa0a29424ec813663adc16f2f7.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="MDnnR/fHMcDpuREEmNEcBAk4p9gwJ7NY8Q9mZ5zDR4s=" name="csrf-token" />
</head>
<body>




<div id ="strava"style = "padding-top:20px;">

<DIV style = " width:1000px; margin: 0 auto;">
<div>Last Updated 6:48AM 5/25/2013</div>

			<table class ="table table-hover table-condensed;" >
				<thead>  
			          <tr> 
			          	<th>     </th>  
			            <th>Rider</th>  
			            <th>Miles</th>
			            <th>Back</th> 
			            <th>     </th>  
			            <th>Rider</th>  
			            <th>Hours</th>
			            <th>Back</th>
			            <th>     </th>   
			            <th>Rider</th>  
			            <th>Elevation</th>
			            <th>Back</th> 
			                
			          </tr>  
				</thead> 

				<tbody>

					<tr>
						<td> 1</td>
						<td>Peter Werner</td>
						<td>775.1</td>
						<td>+ 0.0</td>
						<td> 1</td>
						<td>Mark Virello</td>
						<td>60.3</td>
						<td>+ 0.0 </td>
						<td> 1</td>
						<td>Mark Virello</td>
						<td>49534.1</td>
						<td>+ 0.0</td> 

					</tr>
					<tr>
						<td> 2</td>
						<td>michael zimmer</td>
						<td>763.3</td>
						<td>+ 11.8</td>
						<td> 2</td>
						<td>Peter Werner</td>
						<td>49.5</td>
						<td>+ 10.8 </td>
						<td> 2</td>
						<td>michael zimmer</td>
						<td>43960.0</td>
						<td>+ 5574.1</td> 

					</tr>
					<tr>
						<td> 3</td>
						<td>Mark Virello</td>
						<td>761.0</td>
						<td>+ 14.1</td>
						<td> 3</td>
						<td>michael zimmer</td>
						<td>47.0</td>
						<td>+ 13.3 </td>
						<td> 3</td>
						<td>Peter Werner</td>
						<td>39206.0</td>
						<td>+ 10328.1</td> 

					</tr>
					<tr>
						<td> 4</td>
						<td>Bill Connolly</td>
						<td>619.6</td>
						<td>+ 155.5</td>
						<td> 4</td>
						<td>Bill Connolly</td>
						<td>35.5</td>
						<td>+ 24.8 </td>
						<td> 4</td>
						<td>Pete M.</td>
						<td>36378.0</td>
						<td>+ 13156.1</td> 

					</tr>
					<tr>
						<td> 5</td>
						<td>Adam Shutes</td>
						<td>578.2</td>
						<td>+ 196.9</td>
						<td> 5</td>
						<td>Adam Shutes</td>
						<td>34.8</td>
						<td>+ 25.5 </td>
						<td> 5</td>
						<td>Bill Connolly</td>
						<td>32158.8</td>
						<td>+ 17375.3</td> 

					</tr>
					<tr>
						<td> 6</td>
						<td>Pete M.</td>
						<td>556.6</td>
						<td>+ 218.5</td>
						<td> 6</td>
						<td>Pete M.</td>
						<td>33.2</td>
						<td>+ 27.1 </td>
						<td> 6</td>
						<td>Andy Rothstein</td>
						<td>24612.9</td>
						<td>+ 24921.2</td> 

					</tr>
					<tr>
						<td> 7</td>
						<td>Diesel C.</td>
						<td>555.4</td>
						<td>+ 219.7</td>
						<td> 7</td>
						<td>Andy Rothstein</td>
						<td>31.8</td>
						<td>+ 28.5 </td>
						<td> 7</td>
						<td>Bart Lipinski</td>
						<td>21387.8</td>
						<td>+ 28146.3</td> 

					</tr>
					<tr>
						<td> 8</td>
						<td>CanMass .</td>
						<td>553.5</td>
						<td>+ 221.6</td>
						<td> 8</td>
						<td>Diesel C.</td>
						<td>30.5</td>
						<td>+ 29.8 </td>
						<td> 8</td>
						<td>Diesel C.</td>
						<td>21210.6</td>
						<td>+ 28323.5</td> 

					</tr>
					<tr>
						<td> 9</td>
						<td>Andy Rothstein</td>
						<td>504.2</td>
						<td>+ 270.9</td>
						<td> 9</td>
						<td>CanMass .</td>
						<td>30.2</td>
						<td>+ 30.1 </td>
						<td> 9</td>
						<td>CanMass .</td>
						<td>19993.4</td>
						<td>+ 29540.7</td> 

					</tr>
					<tr>
						<td> 10</td>
						<td>Bart Lipinski</td>
						<td>478.3</td>
						<td>+ 296.8</td>
						<td> 10</td>
						<td>Ted Myles</td>
						<td>24.6</td>
						<td>+ 35.7 </td>
						<td> 10</td>
						<td>Ari Shocket</td>
						<td>19189.6</td>
						<td>+ 30344.5</td> 

					</tr>
					<tr>
						<td> 11</td>
						<td>Ted Myles</td>
						<td>460.5</td>
						<td>+ 314.6</td>
						<td> 11</td>
						<td>Brent Rossum</td>
						<td>24.5</td>
						<td>+ 35.8 </td>
						<td> 11</td>
						<td>Adam Shutes</td>
						<td>18736.9</td>
						<td>+ 30797.2</td> 

					</tr>
					<tr>
						<td> 12</td>
						<td>Ari Shocket</td>
						<td>449.3</td>
						<td>+ 325.8</td>
						<td> 12</td>
						<td>Dave Levy</td>
						<td>24.3</td>
						<td>+ 36.0 </td>
						<td> 12</td>
						<td>Brent Rossum</td>
						<td>17667.3</td>
						<td>+ 31866.8</td> 

					</tr>
					<tr>
						<td> 13</td>
						<td>Brent Rossum</td>
						<td>416.2</td>
						<td>+ 358.9</td>
						<td> 13</td>
						<td>Ari Shocket</td>
						<td>23.9</td>
						<td>+ 36.4 </td>
						<td> 13</td>
						<td>Ted Myles</td>
						<td>17109.6</td>
						<td>+ 32424.5</td> 

					</tr>
					<tr>
						<td> 14</td>
						<td>Dave Levy</td>
						<td>387.1</td>
						<td>+ 388.0</td>
						<td> 14</td>
						<td>Bart Lipinski</td>
						<td>23.7</td>
						<td>+ 36.6 </td>
						<td> 14</td>
						<td>Nick S.</td>
						<td>17060.4</td>
						<td>+ 32473.7</td> 

					</tr>
					<tr>
						<td> 15</td>
						<td>Rick Doherty</td>
						<td>348.8</td>
						<td>+ 426.3</td>
						<td> 15</td>
						<td>Rick Doherty</td>
						<td>22.6</td>
						<td>+ 37.7 </td>
						<td> 15</td>
						<td>Dave Levy</td>
						<td>15508.5</td>
						<td>+ 34025.6</td> 

					</tr>
					<tr>
						<td> 16</td>
						<td>Nick Leger</td>
						<td>346.5</td>
						<td>+ 428.6</td>
						<td> 16</td>
						<td>Nick Leger</td>
						<td>20.2</td>
						<td>+ 40.1 </td>
						<td> 16</td>
						<td>Sean  Campbell</td>
						<td>15265.7</td>
						<td>+ 34268.4</td> 

					</tr>
					<tr>
						<td> 17</td>
						<td>Nick S.</td>
						<td>344.4</td>
						<td>+ 430.7</td>
						<td> 17</td>
						<td>Sean  Campbell</td>
						<td>19.9</td>
						<td>+ 40.4 </td>
						<td> 17</td>
						<td>Steven Fish</td>
						<td>15019.7</td>
						<td>+ 34514.4</td> 

					</tr>
					<tr>
						<td> 18</td>
						<td>Sean  Campbell</td>
						<td>338.1</td>
						<td>+ 437.0</td>
						<td> 18</td>
						<td>Steven Fish</td>
						<td>18.6</td>
						<td>+ 41.7 </td>
						<td> 18</td>
						<td>Rick Doherty</td>
						<td>12680.4</td>
						<td>+ 36853.7</td> 

					</tr>
					<tr>
						<td> 19</td>
						<td>Steven Fish</td>
						<td>315.9</td>
						<td>+ 459.2</td>
						<td> 19</td>
						<td>Nick S.</td>
						<td>18.6</td>
						<td>+ 41.7 </td>
						<td> 19</td>
						<td>Jeff Buyak</td>
						<td>12257.2</td>
						<td>+ 37276.9</td> 

					</tr>
					<tr>
						<td> 20</td>
						<td>Jeff Buyak</td>
						<td>314.3</td>
						<td>+ 460.8</td>
						<td> 20</td>
						<td>Jeff Buyak</td>
						<td>18.1</td>
						<td>+ 42.2 </td>
						<td> 20</td>
						<td>Adam Carr</td>
						<td>11571.5</td>
						<td>+ 37962.6</td> 

					</tr>
					<tr>
						<td> 21</td>
						<td>Chad Guevremont</td>
						<td>215.8</td>
						<td>+ 559.3</td>
						<td> 21</td>
						<td>John Bosley</td>
						<td>12.7</td>
						<td>+ 47.6 </td>
						<td> 21</td>
						<td>bruce larson</td>
						<td>10177.2</td>
						<td>+ 39356.9</td> 

					</tr>
					<tr>
						<td> 22</td>
						<td>Algis N.</td>
						<td>202.7</td>
						<td>+ 572.4</td>
						<td> 22</td>
						<td>bruce larson</td>
						<td>12.2</td>
						<td>+ 48.1 </td>
						<td> 22</td>
						<td>Nick Leger</td>
						<td>9681.8</td>
						<td>+ 39852.3</td> 

					</tr>
					<tr>
						<td> 23</td>
						<td>John Bosley</td>
						<td>202.1</td>
						<td>+ 573.0</td>
						<td> 23</td>
						<td>Adam Carr</td>
						<td>12.2</td>
						<td>+ 48.1 </td>
						<td> 23</td>
						<td>John Bosley</td>
						<td>8661.4</td>
						<td>+ 40872.7</td> 

					</tr>
					<tr>
						<td> 24</td>
						<td>Adam Carr</td>
						<td>197.8</td>
						<td>+ 577.3</td>
						<td> 24</td>
						<td>Chad Guevremont</td>
						<td>11.7</td>
						<td>+ 48.6 </td>
						<td> 24</td>
						<td>Jonathan Doller</td>
						<td>8202.1</td>
						<td>+ 41332.0</td> 

					</tr>
					<tr>
						<td> 25</td>
						<td>bruce larson</td>
						<td>197.8</td>
						<td>+ 577.3</td>
						<td> 25</td>
						<td>David Hall</td>
						<td>10.9</td>
						<td>+ 49.4 </td>
						<td> 25</td>
						<td>Chad Guevremont</td>
						<td>8175.9</td>
						<td>+ 41358.2</td> 

					</tr>
					<tr>
						<td> 26</td>
						<td>David Hall</td>
						<td>197.3</td>
						<td>+ 577.8</td>
						<td> 26</td>
						<td>Owen McGonagle</td>
						<td>10.6</td>
						<td>+ 49.7 </td>
						<td> 26</td>
						<td>Owen McGonagle</td>
						<td>7897.0</td>
						<td>+ 41637.1</td> 

					</tr>
					<tr>
						<td> 27</td>
						<td>Owen McGonagle</td>
						<td>189.2</td>
						<td>+ 585.9</td>
						<td> 27</td>
						<td>johnny smooth</td>
						<td>10.0</td>
						<td>+ 50.3 </td>
						<td> 27</td>
						<td>David Hall</td>
						<td>7132.5</td>
						<td>+ 42401.6</td> 

					</tr>
					<tr>
						<td> 28</td>
						<td>Sean Saganey</td>
						<td>175.2</td>
						<td>+ 599.9</td>
						<td> 28</td>
						<td>Algis N.</td>
						<td>9.9</td>
						<td>+ 50.4 </td>
						<td> 28</td>
						<td>Algis N.</td>
						<td>6971.8</td>
						<td>+ 42562.3</td> 

					</tr>
					<tr>
						<td> 29</td>
						<td>johnny smooth</td>
						<td>174.4</td>
						<td>+ 600.7</td>
						<td> 29</td>
						<td>Sean Saganey</td>
						<td>9.3</td>
						<td>+ 51.0 </td>
						<td> 29</td>
						<td>Roach Joe</td>
						<td>6151.6</td>
						<td>+ 43382.5</td> 

					</tr>
					<tr>
						<td> 30</td>
						<td>Jonathan Doller</td>
						<td>157.1</td>
						<td>+ 618.0</td>
						<td> 30</td>
						<td>Kioko Mwosa</td>
						<td>8.6</td>
						<td>+ 51.7 </td>
						<td> 30</td>
						<td>johnny smooth</td>
						<td>6082.7</td>
						<td>+ 43451.4</td> 

					</tr>
					<tr>
						<td> 31</td>
						<td>Kioko Mwosa</td>
						<td>131.3</td>
						<td>+ 643.8</td>
						<td> 31</td>
						<td>Jonathan Doller</td>
						<td>8.2</td>
						<td>+ 52.1 </td>
						<td> 31</td>
						<td>Kioko Mwosa</td>
						<td>5990.8</td>
						<td>+ 43543.3</td> 

					</tr>
					<tr>
						<td> 32</td>
						<td>Roach Joe</td>
						<td>123.9</td>
						<td>+ 651.2</td>
						<td> 32</td>
						<td>collin cameron</td>
						<td>7.9</td>
						<td>+ 52.4 </td>
						<td> 32</td>
						<td>collin cameron</td>
						<td>5616.8</td>
						<td>+ 43917.3</td> 

					</tr>
					<tr>
						<td> 33</td>
						<td>collin cameron</td>
						<td>123.2</td>
						<td>+ 651.9</td>
						<td> 33</td>
						<td>Scott Kirschner</td>
						<td>7.8</td>
						<td>+ 52.5 </td>
						<td> 33</td>
						<td>Sean Saganey</td>
						<td>5177.2</td>
						<td>+ 44356.9</td> 

					</tr>
					<tr>
						<td> 34</td>
						<td>Scott Kirschner</td>
						<td>92.7</td>
						<td>+ 682.4</td>
						<td> 34</td>
						<td>Roach Joe</td>
						<td>7.3</td>
						<td>+ 53.0 </td>
						<td> 34</td>
						<td>Scott Kirschner</td>
						<td>3139.8</td>
						<td>+ 46394.3</td> 

					</tr>
					<tr>
						<td> 35</td>
						<td>Dave M.</td>
						<td>47.6</td>
						<td>+ 727.5</td>
						<td> 35</td>
						<td>Dave M.</td>
						<td>3.2</td>
						<td>+ 57.1 </td>
						<td> 35</td>
						<td>Dave M.</td>
						<td>1994.8</td>
						<td>+ 47539.3</td> 

					</tr>
					<tr>
						<td> 36</td>
						<td>Bobby Allen</td>
						<td>45.5</td>
						<td>+ 729.6</td>
						<td> 36</td>
						<td>Bobby Allen</td>
						<td>2.7</td>
						<td>+ 57.6 </td>
						<td> 36</td>
						<td>francis deasy</td>
						<td>1233.6</td>
						<td>+ 48300.5</td> 

					</tr>
					<tr>
						<td> 37</td>
						<td>francis deasy</td>
						<td>39.5</td>
						<td>+ 735.6</td>
						<td> 37</td>
						<td>francis deasy</td>
						<td>2.4</td>
						<td>+ 57.9 </td>
						<td> 37</td>
						<td>Bobby Allen</td>
						<td>941.6</td>
						<td>+ 48592.5</td> 

					</tr>
					<tr>
						<td> 38</td>
						<td>Eric Stout</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 38</td>
						<td>Greg Naviloff</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 38</td>
						<td>Greg Naviloff</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 39</td>
						<td>Can Meral</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 39</td>
						<td>Can Meral</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 39</td>
						<td>Can Meral</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 40</td>
						<td>Neil  Goldberg</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 40</td>
						<td>Neil  Goldberg</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 40</td>
						<td>Neil  Goldberg</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 41</td>
						<td>Angus Walker</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 41</td>
						<td>Angus Walker</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 41</td>
						<td>Angus Walker</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 42</td>
						<td>Lilly Vollmann</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 42</td>
						<td>Eric Stout</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 42</td>
						<td>Eric Stout</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 43</td>
						<td>Greg Naviloff</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 43</td>
						<td>Lilly Vollmann</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 43</td>
						<td>Lilly Vollmann</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>
					<tr>
						<td> 44</td>
						<td>Jim Norcott</td>
						<td>0.0</td>
						<td>+ 775.1</td>
						<td> 44</td>
						<td>Jim Norcott</td>
						<td>0.0</td>
						<td>+ 60.3 </td>
						<td> 44</td>
						<td>Jim Norcott</td>
						<td>0.0</td>
						<td>+ 49534.1</td> 

					</tr>


			    </tbody>  
			 </table> 


</DIV>

</div>

</body>
</html>
