
<div class = "row" style="display:table; margin:0 auto; padding-top:15px;">
	<div class="span10 well" style="width:742px; ">


<h1>Welcome to the BHCC Strava Competions!</h1>
<h2>You are now registered!</h2>
</div>
</div>

