body {
  padding-top: 5px;
  padding-bottom: 40px;
  /*background:#E1E4E8*/

}

h1, h2,h3,h4,h5,h6 p, li, ul{
  color:#0D355D;font-family: 'Verdana', Geneva, sans-serif;

}



h4 {
  font-size: 8px;
}

p{

  font-size:14px


}


p, td {
  font-family: Tahoma, Verdana, Segoe, sans-serif; color:#0D355D;


}
.navlinks{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  color: #0D559D;
}
.bhccAbout{

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  color:#FFF;
  padding-left:15px;
  padding-right:15px;
  /*padding-top:15px;
  padding-bottom:15px;*/
}

#bhccAboutBackground{

  background-color: #0D355D;

  /*margin: 0 auto;*/

}
.caption {

  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: left;
}

.caption-background{


  height:25px;
  position:absolute;
  display: block;
  bottom: -10px;
  left: 0;
  right: 0;
  padding: 10px;
  background: #0D355D;
  filter: alpha(opacity=85); /* internet explorer */
  -khtml-opacity: 0.85;      /* khtml, old safari */
  -moz-opacity: 0.85;       /* mozilla, netscape */
  opacity: 0.85;           /* fx, safari, opera */




}


/* ------- pagination -------- */

.pagination {
  height: 36px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover, .active a {
  background-color: whiteSmoke;
}

.disabled a, .disabled a:hover,
.active a, .active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}
	


	  
