<!DOCTYPE html>
<html ng-app="bhccAPP">
<head>
  <title>BHCC</title>
    <link type="text/css" rel="stylesheet" media="all" href="/assets/jquery-ui.css?body=1">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/jquery-ui.structure.css?body=1">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/jquery-ui.theme.css?body=1">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/bootstrap.css?body=1">
    <link type="text/css" rel="stylesheet" media="all" href="/assets/bhcc.css?body=1">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
