<!DOCTYPE html>
<html>
<head>
  <title>BHCC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://www.bluehillscycling.com/BHCC-3/wp-content/themes/twentythirteen/css/bootstrap.css" rel="stylesheet">
  <link href="http://www.bluehillscycling.com/BHCC-3/wp-content/themes/twentythirteen/css/bhcc.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
