<!DOCTYPE html>
<html ng-app="bhccAPP">
<head>
  <title>BHCC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="http://www.bluehillscycling.com/BHCC-3/wp-content/themes/twentythirteen/css/bootstrap.css" rel="stylesheet">
  <link href="http://www.bluehillscycling.com/BHCC-3/wp-content/themes/twentythirteen/css/bhcc.css" rel="stylesheet">
  <link rel="SHORTCUT ICON" href="img/bluehills.ico"/>
  	<link href="http://www.bluehillscycling.com/BHCC-3/css/bootstrap.css" rel="stylesheet">
	<link href="http://www.bluehillscycling.com/BHCC-3/css/responsiveslides.css" rel="stylesheet">
    <link href="http://www.bluehillscycling.com/BHCC-3/css/bhcc.css" rel="stylesheet">
    <script type="text/javascript" src="http://www.bluehillscycling.com/BHCC-3/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://www.bluehillscycling.com/BHCC-3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://www.bluehillscycling.com/BHCC-3/js/responsiveslides.min.js"></script>
     <script type="text/javascript" src="http://www.bluehillscycling.com/BHCC-3/wp-content/themes/twentythirteen/js/bootstrap-tab.js"></script>
    <script type ="text/javascript" src="jhttp://www.bluehillscycling.com/BHCC-3/s/main.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
